/* Tour page styles */

.table {
  font-family: 'Open Sans', sans-serif;
  margin: 0.5rem auto;
}

caption {
  display: none;
}

.table-head {
  font-size: 1.3rem;
}

th,
td {
  padding: 0.3rem 0.5rem;
  color: #4DAF7C; /*#3A6355*/
  background: #2d2b30; /*#2d2b30*/
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}
